@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Hind+Siliguri:wght@300&family=Pacifico&display=swap');
* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow' ;
}

.container {
    background: rgb(255, 4, 4 , 0.22);
}

.header {
    height: 50px;
    box-shadow: 0 0 2px black;
    background: rgba(253, 226, 202, 0.5);
}

.nav a {
    text-decoration: none;
    color : black;
    line-height: 50px;
    padding : 0px 25px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Barlow';
}

.nav a:hover {
    background: rgb(194, 103, 103);
    display: inline-block;
    transition: 1.4s;
}

.nav button {
    float : right;
    border: none;
    color : black;
    margin: auto;
    padding : 0 40px;
    line-height: 50px;
    font-family: 'Barlow';
    background: inherit ;
}

.nav button:hover {
    background: rgb(194, 103, 103);
    transition: 1.4s;
}

.monan {
    height: 90vh;
    position: relative;
}

.monan img {
    width: 45%;
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
}

.monan .heading-content{
    font-size: 70px;
    font-weight: 100;
    font-family: 'Pacifico';
}

.cotent-congthuc {
    position: absolute;
    right: 300px;
    top : 15%;
}

li {
    margin : 18px 0;
    list-style-type: none;
}

.fa-utensils {
    margin-right: 20px;
}

.monan p {
    font-size: 18px;
}

.fa-arrow-left{
    font-size: 30px;
    color: black;
    padding: 20px;
    position: relative;
}

.fa-arrow-left:hover {
    opacity: 0.5;
}